javascript:
  var side_nav = document.getElementById("side-nav");
  var side_nav_open = document.getElementById("side-nav-open");
  var side_nav_close = document.getElementById("side-nav-close");
  side_nav_open.onclick = function() {
    side_nav.classList.remove("inactive");
    side_nav.classList.add("active");
  };
  var side_nav_close = document.getElementById("side-nav-close");
  side_nav_close.onclick = function() {
    side_nav.classList.remove("active");
    side_nav.classList.add("inactive");
  };

-if settings.environment.to_s == 'development'
  javascript:
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-60704936-1', 'auto');
    ga('send', 'pageview');

